@{
    Layout = "~/Views/Shared/_LayoutPenulis.cshtml";
    ViewBag.Title = "Artikel Saya - Penulis";
}

<div class="container mt-4">
    <h2>Artikel Saya</h2>
    <p>Halaman ini akan menampilkan daftar artikel yang telah Anda tulis.</p>
</div>
