@{
    Layout = "~/Views/Shared/_LayoutPenulis.cshtml";
    ViewBag.Title = "Profil Penulis - Penulis";
}

<div class="container mt-4">
    <h2>Profil Penulis</h2>
    <p>Ini adalah halaman profil Anda sebagai penulis.</p>
</div>
