@{
    Layout = "~/Views/Shared/_LayoutPenulis.cshtml";
    ViewBag.Title = "Tulis Artikel - Penulis";
}

<div class="container mt-4">
    <h2>Tulis Artikel Baru</h2>
    <p>Di halaman ini Anda bisa membuat artikel baru untuk dipublikasikan.</p>
</div>
