<footer class="footer-bg text-light p-4">
    <div class="container">
        <div class="row">
            <!-- Logo dan Sosmed -->
            <div class="col-md-4 text-center">
                <img src="/images/logo-white-text.png" alt="Logo" width="230" class="footer-logo">

                <div class="social-icons-wrap">
                    <a href="#"><img src="/images/youtube-icon.png" width="30"></a>
                    <a href="#"><img src="/images/tiktok-icon.png" width="30"></a>
                    <a href="#"><img src="/images/linkedin-icon.png" width="30"></a>
                    <a href="#"><img src="/images/ig-icon.png" width="30"></a>
                    <a href="#"><img src="/images/facebook-icon.png" width="30"></a>
                    <a href="#"><img src="/images/whatsapp-icon.png" width="30"></a>
                    <a href="#"><img src="/images/email-icon.png" width="30"></a>
                    <a href="#"><img src="/images/telegram-icon.png" width="30"></a>
                </div>
            </div>

            <!-- Kategori -->
            <div class="col-md-4">
                <h6>Kategori</h6>
                <div class="row">
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Teknologi</a></li>
                            <li><a href="#">Bisnis</a></li>
                            <li><a href="#">Olahraga</a></li>
                            <li><a href="#">Hiburan</a></li>
                            <li><a href="#">Kesehatan</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Gaya Hidup</a></li>
                            <li><a href="#">Politik</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Finansial</a></li>
                            <li><a href="#">Sains</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Kuliner</a></li>
                            <li><a href="#">Pendidikan</a></li>
                            <li><a href="#">Otomotif</a></li>
                            <li><a href="#">Kreatif</a></li>
                            <li><a href="#">Startup</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Jenis Artikel -->
            <div class="col-md-2">
                <h6>Jenis Artikel</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Berita Terbaru</a></li>
                    <li><a href="#">Populer</a></li>
                    <li><a href="#">Rekomendasi</a></li>
                </ul>
            </div>

            <!-- Jaringan Media -->
            <div class="col-md-2">
                <h6>Jaringan Media</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Media Partner 1</a></li>
                    <li><a href="#">Media Partner 2</a></li>
                    <li><a href="#">Media Partner 3</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- Wrap bagian links dengan kelas baru 'footer-links' -->
        <div class="footer-links text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="#">Redaksi</a></li>
                <li class="list-inline-item"><a href="#">Media Partner</a></li>
                <li class="list-inline-item"><a href="#">Iklan</a></li>
                <li class="list-inline-item"><a href="#">Ketentuan Penggunaan</a></li>
                <li class="list-inline-item"><a href="#">Kebijakan Privasi</a></li>
                <li class="list-inline-item"><a href="#">Career</a></li>
                <li class="list-inline-item"><a href="#">Berlangganan</a></li>
            </ul>

            <p>Copyright © 2025 Azaria Putri Fawnia. All rights reserved.</p>
        </div>
    </div>
</footer>
