<footer class="bg-dark text-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/logo-white-text.png" alt="Logo" width="250">
                <div class="d-flex mt-3">
                    <a href="#"><img src="/images/sosmed1.png" width="30"></a>
                    <a href="#"><img src="/images/sosmed2.png" width="30" class="ms-2"></a>
                    <a href="#"><img src="/images/sosmed3.png" width="30" class="ms-2"></a>
                    <a href="#"><img src="/images/sosmed4.png" width="30" class="ms-2"></a>
                    <a href="#"><img src="/images/sosmed5.png" width="30" class="ms-2"></a>
                    <a href="#"><img src="/images/sosmed6.png" width="30" class="ms-2"></a>
                </div>
            </div>
            <div class="col-md-3">
                <h6>Kategori</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Teknologi</a></li>
                    <li><a href="#">Bisnis</a></li>
                    <li><a href="#">Olahraga</a></li>
                    <li><a href="#">Hiburan</a></li>
                    <li><a href="#">Kesehatan</a></li>
                    <li><a href="#">Gaya Hidup</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Jenis Artikel</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Berita Terbaru</a></li>
                    <li><a href="#">Populer</a></li>
                    <li><a href="#">Rekomendasi</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Jaringan Media</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Media Partner 1</a></li>
                    <li><a href="#">Media Partner 2</a></li>
                    <li><a href="#">Media Partner 3</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="#">Redaksi</a></li>
                <li class="list-inline-item"><a href="#">Media Partner</a></li>
                <li class="list-inline-item"><a href="#">Iklan</a></li>
                <li class="list-inline-item"><a href="#">Ketentuan Penggunaan</a></li>
                <li class="list-inline-item"><a href="#">Kebijakan Privasi</a></li>
                <li class="list-inline-item"><a href="#">Career</a></li>
                <li class="list-inline-item"><a href="#">Berlangganan</a></li>
            </ul>

            <p>Copyright © 2025 Azaria Putri Fawnia. All rights reserved.</p>

        </div>
    </div>
</footer>
