<footer class="footer-links footer-bg text-light p-3">
    <div class="container">
        <div class="row">
            <!-- Logo dan Sosmed -->
            <div class="col-md-4 text-center">
                <img src="/images/logo-white-text.png" alt="Logo" width="230" class="footer-logo">

                <div class="social-icons-wrap">
                    <a href="#"><img src="/images/youtube-icon.png" width="30"></a>
                    <a href="#"><img src="/images/tiktok-icon.png" width="30"></a>
                    <a href="#"><img src="/images/linkedin-icon.png" width="30"></a>
                    <a href="#"><img src="/images/ig-icon.png" width="30"></a>
                    <a href="#"><img src="/images/facebook-icon.png" width="30"></a>
                    <a href="#"><img src="/images/whatsapp-icon.png" width="30"></a>
                    <a href="#"><img src="/images/email-icon.png" width="30"></a>
                    <a href="#"><img src="/images/telegram-icon.png" width="30"></a>
                </div>
            </div>

            <!-- Kategori -->
            <div class="col-md-4">
                <h6>Kategori</h6>
                <div class="row">
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Teknologi">Teknologi</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Bisnis">Bisnis</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Olahraga">Olahraga</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Hiburan">Hiburan</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Kesehatan">Kesehatan</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Gaya%20Hidup">Gaya Hidup</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Politik">Politik</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Travel">Travel</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Finansial">Finansial</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Sains">Sains</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Kuliner">Kuliner</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Pendidikan">Pendidikan</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Otomotif">Otomotif</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Kreatif">Kreatif</a></li>
                            <li><a class="footer-link" href="/Reader/Kategori?nama=Startup">Startup</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Jenis Artikel -->
            <div class="col-md-2">
                <h6>Jenis Artikel</h6>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Berita Terbaru</a></li>
                    <li><a class="footer-link" href="#">Populer</a></li>
                    <li><a class="footer-link" href="#">Rekomendasi</a></li>
                </ul>
            </div>

            <!-- Jaringan Media -->
            <div class="col-md-2">
                <h6>Jaringan Media</h6>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Media Partner 1</a></li>
                    <li><a class="footer-link" href="#">Media Partner 2</a></li>
                    <li><a class="footer-link" href="#">Media Partner 3</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- Wrap bagian links dengan kelas baru 'footer-links' -->
        <div class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="footer-link" href="/Reader/AboutUs">About Us</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Redaksi</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Media Partner</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Iklan</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Ketentuan Penggunaan</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Kebijakan Privasi</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Career</a></li>
                <li class="list-inline-item"><a class="footer-link" href="#">Berlangganan</a></li>
            </ul>

            <p>Copyright © 2025 Azaria Putri Fawnia. All rights reserved.</p>
        </div>
    </div>
</footer>
