<header class="reader-header bg-light py-1 px-5 border-bottom">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <a href="/Reader/Index"><img src="/images/logo-black-text.png" alt="Logo" width="150"></a>
        </div>
        <div class="search-bar w-50">
            <form method="get" action="/Reader/Search" class="search-bar w-50">
                <input type="text" name="query" class="form-control" placeholder="Search..." />
            </form>
        </div>
        <div class="d-flex align-items-center">
            <a href="/Reader/ProfilUser">
                <img src="/images/profile-icon.png" alt="Profile" width=30" class="rounded-circle ms-3">
            </a>
        </div>
    </div>
</header>
