<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <!-- Button Toggle untuk Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Kategori Navbar -->
            <div class="collapse navbar-collapse" id="navbarCategories">
                <ul class="navbar-nav w-100 d-flex flex-wrap justify-content-center">
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Index">Beranda</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Teknologi</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Bisnis</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Olahraga</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Hiburan</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Kesehatan</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Gaya Hidup</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Politik</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Travel</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Finansial</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Startup</a></li>
                    <li class="nav-item flex-fill text-center"><a class="nav-link" href="/Reader/Kategori">Pendidikan</a></li>

                    <!-- Dropdown Kategori Tambahan -->
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link dropdown-toggle" href="#" id="moreCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ☰
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreCategories">
                            <li><a class="dropdown-item" href="/Reader/Kategori">Kuliner</a></li>
                            <li><a class="dropdown-item" href="/Reader/Kategori">Otomotif</a></li>
                            <li><a class="dropdown-item" href="/Reader/Kategori">Kreatif</a></li>
                            <li><a class="dropdown-item" href="/Reader/Kategori">Internasional</a></li>
                            <li><a class="dropdown-item" href="/Reader/Kategori">Selebriti</a></li>
                            <li><a class="dropdown-item" href="/Reader/Kategori">Sains</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
