<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCategories">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/Reader/Index">Beranda</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Teknologi</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Bisnis</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Olahraga</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Hiburan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Kesehatan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Gaya Hidup</a></li>
            </ul>
        </div>
    </div>
</nav>
