<script src="/js/navbar.js"></script>

<div class="navbar-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav flex-row flex-nowrap w-100 justify-content-start" id="categoryNavbar">
                <li class="nav-item"><a class="nav-link" href="/Reader/Index">Beranda</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Teknologi">Teknologi</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Bisnis">Bisnis</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Olahraga">Olahraga</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Hiburan">Hiburan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Kesehatan">Kesehatan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=GayaHidup">Gaya Hidup</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Politik">Politik</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Travel">Travel</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Finansial">Finansial</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Startup">Startup</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Pendidikan">Pendidikan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Kuliner">Kuliner</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Otomotif">Otomotif</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Kreatif">Kreatif</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Internasional">Internasional</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Selebriti">Selebriti</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori?nama=Sains">Sains</a></li>

                <!-- Dropdown Kategori Tambahan -->
                <li class="nav-item dropdown ms-auto" id="moreDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="moreCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ☰
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreCategories" id="moreCategoriesList">
                        <!-- Item dropdown akan otomatis di sini -->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
