<script src="/js/navbar.js"></script>

<div class="navbar-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav flex-row flex-nowrap w-100 justify-content-start" id="categoryNavbar">
                <li class="nav-item"><a class="nav-link" href="/Reader/Index">Beranda</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Teknologi</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Bisnis</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Olahraga</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Hiburan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Kesehatan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Gaya Hidup</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Politik</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Travel</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Finansial</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Startup</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Pendidikan</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Kuliner</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Otomotif</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Kreatif</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Internasional</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Selebriti</a></li>
                <li class="nav-item"><a class="nav-link" href="/Reader/Kategori">Sains</a></li>

                <!-- Dropdown Kategori Tambahan -->
                <li class="nav-item dropdown ms-auto" id="moreDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="moreCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ☰
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreCategories" id="moreCategoriesList">
                        <!-- Item dropdown akan otomatis di sini -->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
