@{
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
    ViewBag.Title = "Beranda - NewsPortal";
}

<div class="container">
    <div class="row">
        <!-- Headline Section -->
        <div class="col-lg-6">
            <div class="headline-section mb-4">
    <div class="headline-tag">
        HEADLINE
    </div>
    <div class="headline-image">
        <img src="/images/dummy-news-image.png" alt="Headline">
        <div class="headline-title">
            Judul Headline Utama Judul Headline Utama Judul Headline Utama Judul Headline Utama
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>
        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>
        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>

        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>
        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>
        <div class="col-4">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Sub Headline">
            <h6>Judul Sub Headline 1 Judul Sub Headline 1</h6>
        </div>
    </div>
</div>

        </div>

        <!-- Trending Section -->
        <div class="col-lg-4">
            <h5 class="mb-3">Trending</h5>
            <ul class="list-group">
                <li class="list-group-item">Judul Trending 1</li>
                <li class="list-group-item">Judul Trending 2</li>
                <li class="list-group-item">Judul Trending 3</li>
                <li class="list-group-item">Judul Trending 4</li>
                <li class="list-group-item">Judul Trending 5</li>
            </ul>
        </div>

        <!-- Banner Section -->
        <div class="col-lg-2">
            <h5 class="mb-3">Event</h5>
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-4" alt="Event Banner">
            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-4" alt="Event Banner">
        </div>
    </div>
</div>
