@{
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
    ViewBag.Title = "Kategori - NewsPortal";
}

<div class="container">
    <!-- Kategori dan Subkategori -->
    <div class="d-flex flex-wrap align-items-center">
        <h5 class="pink-tag me-3">TEKNOLOGI</h5>
        <div class="d-flex flex-wrap gap-2">
            <span class="light-blue-tag">AI</span>
            <span class="light-blue-tag">Gadget</span>
            <span class="light-blue-tag">Sosial Media</span>
            <span class="light-blue-tag">Start-up</span>
            <span class="light-blue-tag">Software</span>
            <span class="light-blue-tag">AI</span>
            <span class="light-blue-tag">Gadget</span>
            <span class="light-blue-tag">Sosial Media</span>
            <span class="light-blue-tag">Start-up</span>
            <span class="light-blue-tag">Software</span>
        </div>
    </div>

    <!-- Headline & Sub Headline Section -->
    <div class="row">
        <!-- Headline Section -->
        <div class="col-lg-6">
            <div class="headline-section mb-4">
                <div class="blue-tag mb-3">HEADLINE</div>
                <a href="/Reader/Berita" class="headline-link">
                    <div class="headline-image position-relative">
                        <img src="/images/dummy-news-image.png" class="img-fluid rounded" alt="Headline">
                        <div class="headline-title mt-2 fw-bold">
                            Judul Headline Utama Judul Headline Utama Judul Headline Utama
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Sub Headline di Samping -->
        <div class="col-lg-5 mt-5 ms-3 align-content-center">
            @for (int i = 1; i <= 3; i++)
            {
                <div class="d-flex mb-3 sub-headline-item">
                    <a href="/Reader/Berita" class="d-flex w-100">
                        <img src="/images/dummy-news-image.png" class="sub-headline me-3" alt="Sub Headline">
                        <div class="align-self-start">
                            <h6 class="mb-1 sub-headline-title">Judul Sub Headline @i Judul Sub Headline @i Judul Sub Headline @i Judul Sub Headline @i</h6>
                            <div class="sub-headline-category">Sub Kategori: Teknologi</div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>

    <!-- Terbaru Section -->
    <div class="terbaru-section mt-4">
        <h5 class="blue-tag">TERBARU</h5>
        <div class="row g-3">
            @for (int i = 1; i <= 6; i++) // misalnya 10 berita
            {
                <div class="col-6 col-sm-4 col-md-2-4 col-lg-2">
                    <a href="/reader/Berita" class="text-decoration-none text-dark">
                        <div class="terbaru-item text-start">
                            <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Berita Terbaru">
                            <h6 class="terbaru-title">Judul Berita @i Judul Berita @i</h6>
                            <span class="terbaru-category d-block">Sub Kategori: Teknologi</span>
                            <span class="terbaru-date d-block">Diperbarui 1 jam lalu</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <!-- Sub Kategori & Trending Section -->
    <div class="row align-items-start mt-5">

        <!-- Sub Kategori Section -->
        <div class="col-lg-8">
            @for (int section = 1; section <= 4; section++) 
            {
                <div class="terbaru-section mb-4">
                    <h5 class="blue-tag">Sub Kategori</h5>
                    <div class="row g-3">
                        @for (int i = 1; i <= 6; i++)
                        {
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                <a href="/reader/Berita" class="text-decoration-none text-dark">
                                    <div class="sub-headline-item text-start">
                                        <img src="/images/dummy-news-image.png" class="img-fluid rounded mb-2" alt="Berita Sub Kategori">
                                        <h6 class="sub-headline-title">Judul Berita Sub Kategori</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Trending Section -->
        <div class="col-lg-4">
            <div class="trending-section mt-4">
                <h5 class="pink-tag">TRENDING</h5>
                <ul class="list-group trending-list">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <li class="list-group-item trending-item">
                            <div class="ranking">@((i).ToString("D2"))</div>
                            <div class="trending-details">
                                <a href="/reader/berita">
                                    <h6 class="trending-title">Judul Berita Trending Judul Berita Trending Judul Berita Trending</h6>
                                    <span class="trending-meta">Kategori: Politik | Dibaca 500 kali</span>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
                <a href="/Reader/Trending" class="trending-link">Trending Lainnya >></a>
            </div>
        </div>

    </div>


</div>
